GOOGLE_CLIENT_ID=391616116038-nsges5pl6uffmi3h98a5m43smriv2bis.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

REDIRECT_URI=https://family-dashboard-api.onrender.com/auth/callback
FRONTEND_URL=https://deboradash.vercel.app
PORT=3001
# Para desenvolvimento local, use:
# REDIRECT_URI=http://localhost:3001/auth/callback
# FRONTEND_URL=http://localhost:5173
VITE_API_URL=https://family-dashboard-api.onrender.com
